.album{
    /*box-shadow: 0px 1px 10px black;*/
    margin-top:10px;
    transition: all ease 2s;
}

.album:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#title{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 3rem;
    color: #ff6f0f;
    display: inline-block;
    margin: 1% 0% 1.5% 42%;
    background-color: #fff0e6;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

#title span{
    color: black;
}